/* main class */
.root {
    -fx-background-image: url("pink.jpg"); 
	-fx-color: #f0f8ff;
}

.button {
	-fx-text-fill: black;
    -fx-background-color: linear-gradient(#ffffff, #d3d3d3);
}

.button:hover {
    -fx-background-color: linear-gradient(#d3d3d3, #ffffff);
	-fx-text-fill: darkred;
}

/* regular text */
.label {
	-fx-text-fill: bisque;
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

/* conference pane regular text */
#conf-text {
    -fx-fill: bisque; 
}

/* h1 */
#login-title, #reg-title, #header1 {
	-fx-fill: snow;
	-fx-font-family: Tahoma;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6), 0, 1.0, -1.0, 1.0);  
}

/* h2 */
#conf-header, #paper-header, #rev-header, #conf-title {
	-fx-fill: snow;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6), 0, 1.0, -1.0, 1.0);  
}

.table-view, .table-view:empty { 
    -fx-color: darkred;
    -fx-cell-hover-color: gainsboro;
    -fx-selection-bar-text: black;
}

/* attribute headers in table view */
.table-view .column-header, .table-view:empty .column-header {
	-fx-border-width: 0;
    -fx-border-color: darkred; 
}

/* attribute text of headers */
.table-view .column-header .label {
	-fx-font-size: 13px;
	-fx-font-weight: normal;
	-fx-text-fill: white;
}

/* entire table */
.table-view {
	-fx-font-size: 13px;
 	-fx-base: darkred;
 	-fx-control-inner-background: white;
 	-fx-background-color: transparent;
 	-fx-focus-color: gold;
}

/* selected table + row */
.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-background-color: khaki;
	-fx-border-width: 1;
    -fx-border-color: goldenrod; 
}
