.root {
    -fx-background-image: url("pink.jpg"); 
	-fx-color: #f0f8ff;
}

#conf-text {
	-fx-fill: #fffafa; 
}

.button {
	-fx-text-fill: black;
    -fx-background-color: linear-gradient(#ffffff, #f0f8ff);
}

.button:hover {
    -fx-background-color: linear-gradient(#f0f8ff, #ffffff);
	-fx-text-fill: #800000;
}

.label {
	-fx-text-fill: #ffe4e1;
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

/* h1 */
#login-title, #reg-title {
	-fx-fill: #fffafa;
	-fx-font-family: Tahoma;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5), 0, 1.0, -0.75, 1.0);  
}

/* h2 */
#conf-header, #paper-header, #rev-header, #conf-title {
	-fx-fill: #fffafa;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5), 0, 1.0, -0.75, 1.0);  
}

.table-view .column-header .label {
	-fx-font-weight:normal;
	-fx-text-fill: #800000;
}

.table-row-cell:empty .text {
	-fx-font-weight:normal;
	-fx-text-fill: #778899;
}