/* main class */
.root {
    -fx-background-image: url("pink.jpg"); 
	-fx-color: #f0f8ff;
}

.button {
	-fx-text-fill: black;
    -fx-background-color: linear-gradient(#ffffff, #d3d3d3);
}

.button:hover {
    -fx-background-color: linear-gradient(#d3d3d3, #ffffff);
	-fx-text-fill: darkred;
}

/* regular text */
.label {
	-fx-text-fill: bisque;
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

/* conference pane regular text */
#conf-text {
    -fx-fill: bisque; 
}

/* h1 */
#login-title, #reg-title {
	-fx-fill: snow;
	-fx-font-family: Tahoma;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6), 0, 1.0, -1.0, 1.0);  
}

/* h2 */
#conf-header, #paper-header, #rev-header, #conf-title {
	-fx-fill: snow;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6), 0, 1.0, -1.0, 1.0);  
}

.table-view, .table-view:empty { 
    -fx-color: darkred;
    -fx-selection-bar: silver;
    -fx-selection-bar-text: black;
    -fx-cell-hover-color: gainsboro;
}

/* attribute headers in table view */
.table-view .column-header {
    -fx-border-color: darkred; 
}

/* attribute names in table view */
.table-view .column-header .label {
	-fx-font-weight: normal;
	-fx-text-fill: white;
}

.table_view:empty {
	-fx-font-weight:normal;
	-fx-text-fill: #778899;
    -fx-fill: #778899;
}

